/* Speech recognition output */
.output-box {
  background-color: rgb(248 245 245);
  padding: 20px;
  border-radius: 10px;
  min-height: 150px;
  overflow-y: auto;
}

/* Theme toggle button styles */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #9a69dc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}

/* Recording button styles */
.recording-button {
  font-size: 24px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 10px;
  background-color: #9a69dc;
}
